/* ===================================================
   BASIC PAGE STYLING
   =================================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
  margin: 0;
  /* Challenge 4: complete background color, background image (use linear-gradient (pg 48 css part 2)
  /* boleh gune warna pilihan sendiri */
  padding: 20px;
  padding-bottom: 400px;
  background-image: radial-gradient(circle, #4facfe 0%, #003973 100%);

  /* background-image: linear-gradient(rgb(255, 255, 255), rgb(156, 156, 255), rgb(140, 147, 255)); */
}

.page-wrapper {
  max-width: 900px;
  margin: auto;
  padding: 0 1rem;
}

.page-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 0.25rem;
}

.page-subtitle {
  text-align: center;
  color: #dadada;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

/* ===================================================
  PROFILE CARD
=================================================== */

.card {
  max-width: 400px;
  
  /* [/] Challenge 5: Put margin and padding two values (recommended value 1 - 20 px, value 2 - 25px /auto)*/
  
  margin: 20px 25px;
  padding: 20px 25px;
  
  background-color: rgba(255, 255, 255, 0.95); 
  border: 3px solid #0077b6;
  /* [/] Challenge 6: put border-radius of 15 px */
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  border-radius: 15px;
}

.card-divider {
  height: 3px;
  border: none;
  background-color: #0077b6; /* custom line */
  width: 80%;
  margin: 10px auto;
}

/* === Image & Figure === */
.profile-figure {
  margin: 20px 0;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-bottom: 5px solid #0096c7;
  border-radius: 50%;   
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.05);
}

.profile-caption {
  color: #666;
  font-size: 0.85rem;
}

/* === Tags === */
.tag {
  background-color: #caf0f8;
  color: #023e8a;
  border: 1px solid #48cae4;
  padding: 4px 8px;
  margin: 2px;
  /* [/] Challenge 6: demonstrate the inline-block here */
  /* border-radius: 6px; */
}

/* === Resume Button === */
.btn-resume {
  background-color: #0077b6;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 999px;
  border-bottom: 3px solid #023e8a;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.btn-resume:hover {
  opacity: 0.9;
  transform: translateY(-3px);
}

/* === Reflection Section === */
.reflection {
  background-color: #ffffff;
  border: 2px dashed #90e0ef;
  padding: 15px;
  margin-top: 40px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

/* === Responsive tweak === */
@media (max-width: 500px) {
  .card {
    padding: 15px;
  }
  .profile-image {
    width: 120px;
    height: 120px;
  }
}
